<div class="jumbotron bg-whtie text-center">
        <h1 class="display-4">Covid-19 Cases Tracker</h1>
        <hr>
        <app-dashboard [totalConfirmed] = 'totalConfirmed' [totalActive]='totalActive' [totalDeaths]='totalDeaths' [totalRecovered]='totalRecovered'></app-dashboard>
        
       
</div>
<label id="radio-group-label">Pick your choice</label>
<mat-radio-group
  aria-labelledby="radio-group-label"
  class="radio-group"
  [(ngModel)]="caseType">
  <mat-radio-button class="radio-button" #select *ngFor="let case of cases" [value]="case" (click)="updateChart(select.value)">
    {{case}}
  </mat-radio-button>
</mat-radio-group>
<div></div>
<div class="charts">
<google-chart [data]="pieChart"></google-chart>
<google-chart [data]="columnChart"></google-chart>
</div>
